:root {
    --body-color: #ddd;
    --color-primary: #5451fb;
    --color-primary-gradient:  linear-gradient(to right, #4845ff, #4730e0);
    --color-primary-gradient-hover:  linear-gradient(to right, #4f64fd, #4730e0);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(-125deg, transparent, #0e081d64, #56144f2e, transparent),
                radial-gradient(circle at 100% 0, rgba(55, 29, 255, 0.388), rgba(55, 29, 255, 0.194) 300px, transparent 800px), 
                linear-gradient(to bottom, #101011, #05051c);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-size: 1.2rem;
    color: var(--body-color);
}
a.white {
    color: #ccc;
}
a.white:hover {
    color: white;
}
a {
    color: rgb(155, 139, 249);
    text-decoration: none;
    transition: all .2s;
}
a:hover {
    color: rgb(188, 176, 255);
}
.section {
    margin: 6rem 0;
}
.blur-bg {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.container-sm {
    max-width: 900px;
}
.single p, .single label {
    margin-bottom: 4rem;
    line-height: 1.6;
    letter-spacing: .3px;
    color: #ddd;
}